<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My Movie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DB1DDF461C2281F0006420CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1DDF5A1C2281F0006420CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB1DDF651C2281F0006420CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
